//
// Base definitions
* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
  max-width: 1200px;
}
header {
  width: 100%;
  height: 50px;
  margin-bottom: 8px;
}
h1 {
  color: #c81818;;
  font-family: 'csnpwdt_nfiregular';
  padding: 10px 0 0 0;
}
img {
  width: inherit;
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
  padding-top: 20px;
}
section {
  text-align: center;
  padding: 5px 5px 0 5px;
}
a,p,span {
  color: #fff;
}
h1 {
  margin: 0;
}

@font-face {
    font-family: 'csnpwdt_nfiregular';
    src: url('../fonts/csnpwdt_nfi-webfont.woff2') format('woff2'),
         url('../fonts/csnpwdt_nfi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media screen and (min-width: 700px) {

    header {
        margin-bottom: 47px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 25px;
    }

}

